/*********************************
 * Standartation part
 *********************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

a:hover, a:visited, a:active, a:focus {
    color: black;
}

/***********************************************************************
 * BODY, CONTENT, HEADER, NAV, SECTION, ARTICLE, PAGINATION BAR, FOOTER
 ***********************************************************************/
body {
    background-image: url('../images/background/binary3.jpg');
    background-repeat: repeat;
}

.content {
    width: 900px;
    margin: 0 auto;
    position: relative;
    background: white;
    min-height: 600px;
}

header, footer {
    height: 200px;
    background-color: rgba(186, 186, 186, 0.18);
}
header img{
    width: inherit;
    height: inherit;
}

header img:last-child {
    float: right;
    margin-right: 10px;
}

nav {
    width: inherit;
    height: 50px;
    border-top: #0072ff 1px;
    border-bottom: #0072ff 1px;
    border-style: dashed;
}

nav ul {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
}

nav ul li {
    float: left;
    padding: 15px 85.999999;
    border-left: #0072ff dashed 1px;
    border-right: #0072ff dashed 1px;
    background-color: white;
    color: black;
    transition: bacground-color 0.5s;
    -webkit-transition: bacground-color 0.5s;
    -moz-transition: bacground-color 0.5s;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
}

nav ul li:hover, 
nav ul li:active,
nav ul li:focus {
    cursor: pointer;
    background-color: #0072ff;
    color: white;
    transition: bacground-color 0.5s;
    -webkit-transition: bacground-color 0.5s;
    -moz-transition: bacground-color 0.5s;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
}


section {
    min-height: 400px;
}

footer p.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.article {
    padding: 38px 90px;
    min-height: 200px;
    border-bottom: 1px dashed #0072ff;
}

.post-header, .post-section, .post-footer {
    height: inherit;
}

.post-header {
    text-align: center;
}

.post-section {
    padding: 12px 0;
    margin-top: 12px;
}

.post-section:after {
    display: block;
    clear: both;
    content: '';
}

.post-section .post-text {
    float: right;
    width: 500px;
}

.post-section .post-image {
    float: left;
    width: 200px;
    box-shadow: black 1px 1px 4px 2px;
    margin-top: 5px;
}
.post-section .post-image img {
    width: 200px;
    height: 153px;
}

.post-footer a:hover {
    cursor: pointer;
    color: rgb(123, 112, 112);
}

.pagination-bar {
    height: 15px;
    widows: inherit;
    text-align: center;
    margin: 12px 0;
}
.pagination-bar ul {
    margin: 0 auto;
}
.pagination-bar ul li{
    display: inline-block;
    padding: 0 12px;
}

.my-forms input {
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.my-forms input[type="submit" i] {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

div.alert {
    height: 36px;
    margin: 15px auto;
    line-height: 33px;
    padding: 15px;
}

div.alert-danger {
    background-color: #d46868;
    color: white;
}

div.alert-info {
    background-color: #68ced4;
    color: #674b4b;
}

/****************************************************************
 * MOBILE PART                                                  *
 ****************************************************************/

@media screen and (max-width: 900px) {
    .content {
        width: 100%;
    }
    
    header {
        height: 60px;
    }
    
    header img {
        margin-left: 10%;
    }
    
    header img:last-child {
        margin-right: 13%;
    }
    nav {
        border: 0;
        height: inherit;
    }
    nav ul li {
        padding: 10px 0;
        border: 0;
        border-bottom: #0072ff 1px;
        border-style: dashed;
        width: 100%;
        text-align: center;
        font-size: 8px;
        float: none;
    }
    
    nav ul li:hover {
        background-color: white;
        color: black;
    }
    
    .post-header {
        font-size: 8px;
    }
    
    .post-section .post-image {
        width: 60%;
        margin: 0 auto;
        float: none;
    }
    
    .post-section .post-image img {
        width: 100%;
        height: inherit;
    }
    
    .post-section .post-text {
        font-size: 6px;
        float: none;
        margin-top: 12px;
        text-align: center;
        width: inherit;
    }
    
    .post-footer {
        font-size: 6px;
        color: rgb(123, 112, 112);
    }
}

@media screen and (max-width: 600px) {
    header img {
        margin: 0;
    }
}